@font-face {
    font-family: 'Young Serif';
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Outfit';
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
    color: hsl(24, 5%, 18%);
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-weight: 100;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    margin: 20px 0;
    color: hsl(0, 0%, 17%);
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-weight: 100;
    font-family: 'Young Serif', serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
}

ul, ol {
    margin: 0;
    padding-left: 20px;
    line-height: 1.6;
}

.sectioningredients {
    padding-bottom: 25px;
    padding-top: 25px;
}

.sectionpreparation-time {
    background-color: #fff7fc;
    border-radius: 5px;
    padding: 10px 40px;
}

.preptimetitle {
    color:#a02f60;
    font-family: Outfit;
    font-weight: 600;
    
}

ul li, ol li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
}

table th, table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(332, 51%, 32%);
    text-decoration: none;
    
}

.sectioninstructions {
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 25px;
}

.sectionnutrition th {
    font-weight: 400;
}

.sectionnutrition td {
    color:rgb(177, 65, 0);
    font-weight: 850;
}